@import url("http://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

.button__primary {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0px 20px 0px 20px;
  color: #dbdbdb;
  background-color: #212121;
  border-radius: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.button__primary:hover {
  background-color: #636262;
  color: #fff;
}

.button__secondary {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0px 20px 0px 20px;
  color: #212121;
  background-color: #dbdbdb;
  border-radius: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.button__secondary:hover {
  background-color: #8a8a8a;
  color: #ebebeb;
}

.button__tertiary {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0px 20px 0px 20px;
  color: #212121;
  background-color: #f7b500;
  border-radius: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.button__tertiary:hover {
  background-color: #dbdbdb;
  color: #f7b500;
  border: 1px solid #f7b500;
}

.About_section1 {
  margin: 2rem 3rem;
  
}
.About_h1{

  width: 158px;
  height: 48px;
  left: 124px;
  top: 165px;

  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.045em;

  color: #F7B500;
}
hr {
  width: 1250px;
  position: center;
}

.About_train {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2.3em ;
}
.About_trainpic {
  width: 281px;
  height: 320px;
}


.About_text {

  width: 577px;
  height: 344px;
  left: 609px;
  top: 318px;
  margin: 2em;

}

.About_section2 {
  margin: 2rem 3rem;
}

.About_h2 {

  width: 445px;
  height: 48px;
  left: 128px;
  top: 781px;


  color: #F7B500;

}


.About_h3 {
  
  width: 363px;
  height: 48px;
  left: 127px;
  top: 1444px;

 
  color: #F7B500;

  
}
.About_form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  
}

.form_wrapper {
  margin: 2.4rem 3rem;
}

.form_wrapper form {
  flex: 1;
  
}

form input {
  width: 482px;
  height: 45px;
  border: none;
  outline: none;
  background-color: #E0DFDF;
  border-radius: 5px;

  align-items: flex-start;
  padding: 14px 22px;
  gap: 8px;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.Input_wrapper {
  display: flex;
  flex-direction: column;
}
.submit-btn {
  color: white;
  background-color: #212121;
  box-shadow: 1px 5px 20px rgba(33, 33, 33, 0.3);
  border-radius: 5px;
  padding: 8px 16px;
  gap: 8px;
  border: none;
  margin: 1em 0em;
}

textarea {
  
  width: 482px;
  max-lines: 10;
}

.sallypic {
  margin: 0em 18em;
  width: 148px;
  height: 325px;
}


header {
  background-color: #f7b500;
}
header .nav__wrapper {
  padding: 12px 0px 12px 0px;
}
header .nav__wrapper .logo h2 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 28px;
  color: #212121;
}
header .nav__wrapper .menu a {
  font-weight: 400;
  font-size: 1rem;
  color: #212121;
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
header .nav__wrapper .menu a:hover {
  font-weight: 700;
}
header .nav__wrapper .menu__active {
  font-weight: 700 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav__wrapper .menu__active .dash {
  width: 80%;
  height: 3px;
  background-color: #212121;
  border-radius: 15px;
  margin-top: 8px;
}/*# sourceMappingURL=App.css.map */

